<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ title }}</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link rel="stylesheet" href="stylesheets/style.css" >
</head>
<body>
<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
<div class="row column">
<br>
<h5>Colan Connon</h5>
<br />
<p>I am currently working as a Software Engineer at Frost, Brown, Todd where I develop internal applications using .Net and SQL Server. 
</p>
<p> My main interests are web development using React, Angular, and Node.js</p>

   <!--<a href="/"> Go to Blog </a>
   <br />
   <a href="/"> Go to Portfolio </a>
   <br />-->
   <a href="https://github.com/colanconnon">Github</a>
   <br />
   <a href="https://www.linkedin.com/in/colan-connon-40b25a103">LinkendIn</a>
   <br />
  <a href="ColanConnonResume.pdf">Resume</a>

   

</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-open="my-info"></button>
<span class="title-bar-title">Colan Connon</span>
</div>
</div>
<div class="callout primary">
<div class="row column">
<h1 class="text-center">Portfolio</h1>
</div>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
    
          <div class="column">
        <div class="card">
        <div class="content">
            <span class="title">Fishtracker server node</span>
            <p>A node.js api using the koa framework and postgres SQL</p>
        </div>
        <div class="action">
            <a href='https://github.com/colanconnon/FishTrackerKoa'>Github Link</a>
        </div>
        </div>
  </div>  

  <div class="column">
    <div class="card">
      <div class="content">
        <span class="title">Fanvious</span>
        <p>I helped make the rest api, and backend for fanvious, and also made the android application</p>
      </div>
      <div class="action">
        <a href='http://fanvious.com'>Fanvious Website</a>
        <a href='https://play.google.com/store/apps/details?id=com.fanvious'>Google Play</a>
      </div>
    </div>
  </div>
  
  
     
          <div class="column">
        <div class="card">
        <div class="content">
            <span class="title">Crypto Message</span>
            <p>Senior capstone project, android application and backend server implementing basic end-to-end encrypted messaging application</p>
        </div>
        <div class="action">
            <a href='https://github.com/colanconnon/CryptoMessage'>Crypto Message</a>
        </div>
        </div>
      
  </div> 
  <div class="column"> 
    <div class="card">
        <div class="content">
            <span class="title">FishTracker React</span>
            <p>React SPA to track fish catches</p>
        </div>
        <div class="action">
            <a href='https://github.com/colanconnon/fishtrackerreact'>GitHub Link</a>
        </div>
        </div>
 </div>
  
  
  
<div id="fillbottom" class="row">

</div>


 
</div>

</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
